@media (max-width: 1700px) {
  body {
    background-size: 1025px;
  }
}

@media (max-width: 1500px) {
  body {
    background-size: 815px;
  }
}

@media (max-width: 1400px) {
  body {
    background-size: 815px;
    background-color: #97dbed;
  }
}

@media (max-width: 1300px) {
  body {
    background-size: 815px;
  }
}
@media (max-width: 1236px) {
  body {
    background-size: 810px;
  }
}

@media (max-width: 1200px) {
  body {
    background-size: 750px;
  }
}

@media (max-width: 1181px) {
  body {
    background-size: 7px;
  }
}

@media (max-width: 1000px) {
  body {
    background-size: 800px;
  }
}

@media (max-width: 1191px) {
  body {
    background-size: 810px;
  }
}
@media (max-width: 1191px) {
  body {
    background-size: 750px;
  }
}

@media (max-width: 1172px) {
  body {
    background-size: 750px;
  }
}

@media (max-width: 806px) {
  body {
    background-size: 800px;
  }
}

@media (max-width: 876px) {
  body {
    background-size: 790px;
  }
}

@media (max-width: 926px) {
  body {
    background-size: 790px;
  }
}

@media (max-width: 933px) {
  body {
    background-size: 790px;
  }
}
@media (max-width: 990px) {
  body {
    background-size: 790px;
  }
}

@media (max-width: 1070px) {
  body {
    background-size: 790px;
  }
}
@media (max-width: 1117px) {
  body {
    background-size: 790px;
  }
}

@media (max-width: 1137px) {
  body {
    background-size: 790px;
  }
}
@media (max-width: 1154px) {
  body {
    background-size: 750px;
  }
}

@media (max-width: 600px) {
  body {
    background-size: 750px;
  }
}

