@media (min-width: 1024px ) and (min-height: 768px) {
  body{
    background-size: 570px;
  }
}

@media (min-width: 1280px) and (min-height: 720px){
  body{
    background-size: 830px;
  }
}

@media (min-width: 1280px) and (min-width: 800px){
  body{
    background-size: 800px;
  }
}

@media (min-width: 1366px) and (min-height: 768px){
  body{
    background-size: 760px;
  }
}

@media (min-width: 1440px) and (min-height: 900px){
  body{
    background-size: 850px;
  }
}

@media (min-width: 1600px) and (min-height: 900px){
  body{
    background-size: 970px;
  }
}
@media (min-width: 1920px) and (min-height: 1080px){
  body{
    background-size: 1140px;
  }
}